.widgets {
  display: flex;
  justify-content: space-between;
  flex: 3 1 ;
  background: #ffffff;
  border: 1px solid #d9dade;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 40px;
}
