.sidebar {
  flex: 1;
  min-height: 100vh;
  border-right: 1px solid #A0AEC0;
  box-shadow: #A0AEC0;

  &__top {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    // justify-content: center;

    img {
      width: 97.32px;
    }
  }
}
